<script src="{{ '_js_modal-window.js' | asset_url }}" defer="defer"></script>
<div class="modal-display-wrapper">
  <div class="image-wrapper">
    <img
      src=""
      alt=""
    >
    <span class="close-btn">×</span>
  </div>
</div>