<div class="btn">
	<span class="info foJ_Mid">{{ 'general.cart.view_empty_cart' | t }}<span class="cart_count">({{ cart.item_count }}個の商品)</span><!--{{ 'general.cart.view' | t: count: cart.item_count }}--></span>
	<div class="icon cart_look"></div>
</div>