<div id="concept_slider">
    <!--スライダー部分-->
    <div id="concept_slider_box">
        <div class="slider_slide"></div>
        <div class="slider_slide"></div>
        <div class="slider_slide"></div>
        <div class="slider_slide"></div>
        <div class="slider_slide"></div>
    </div>
    <!--//スライダーここまで-->
</div>

{% schema %}
  {
    "name": "衝撃一品とは・スライダー",
    "settings": [] ,
    "presets": [
      {
        "name": "衝撃一品とは・スライダー"
      }
    ]
  }
{% endschema %}