<div class="content" style="padding:5vw 0 0;">
  <!-- コンテンツ部分 -->
  <div class="ttl_index_01">
    <h2 class="read foJ_Bld">おとりよせ一覧<span class="foE">PRODUCTS</span></h2>
    <p class="description foJ_Thin">
      清流・番匠川と、速吸瀬戸・豊後水道。<br>
      豊かな自然に育まれた海の幸、山の幸を<br>
      おとりよせ！
    </p>
  </div>

  <ul id="ippin" class="clearfix">
    
  {% for collection in collections %}
    {% for product in collection.products %}
    <li class="store fadein">
      <a href="#">
        <div class="chef clear" style="background-image: url('{{ "_img_chef001.jpg" | asset_url }}')">
          <div class="ribbon_box">
            <ul class="ribbon">
              <li><img src="{{ product.images[2] | img_url }}" alt="豊後水道ふぐ 柳井"></li>
            </ul>
          </div>
        </div>
        <div class="ippin">
          <div class="ippin_img">
            <img src="{{ '_img_i001.jpg' | asset_url }}" class="mask">
            <svg version="1.1" x="0px" y="0px" viewBox="0 0 265.61 265.63" width="0" height="0">
              <clipPath id="svgPath" clipPathUnits="objectBoundingBox">
                 <path d="M132.79,0A132.82,132.82,0,0,0,21.69,205.56c.76,10.34,0,31.88-18.26,36.92,0,0,21,10.89,48.81-4.08A132.81,132.81,0,1,0,132.79,0Z" transform="scale(0.0037,0.0037)"/>
              </clipPath>
            </svg>
          </div>
          <div class="ippin_text">
            <div class="ippin_text_rayout">
              <span class="foJ_Thin">他とは一線を画す上品な味わい</span>
              <p class="foJ_Bld">111</p>
            </div>
          </div>
        </div>
        <div class="btn_box">
          <div class="btn">
            <span class="info foJ_Mid">
              <span class="quantity foJ_Mid">3食入り</span>
              <span class="price foE">1,500</span>
              <span class="tax foJ_Mid">(税別)</span>
            </span>
            <div class="icon cart"></div>
          </div>
        </div>
      </a>
    </li>
    <!-- //store -->
    {% endfor %}
  {% endfor %}
  
  </ul>
  <div id="concept">
    <div id="concept_box">
      <ul class="concept_wrap">
        <li class="concept_t">
          <p class="foJ_Thin">
            「衝撃一品」は、地場の居酒屋や食堂の名物<br>
            メニューを製品化して販売し、新たな街の<br>
            魅力を発信することで、これまでにはない<br>
            角度での町おこしにつなげる試みです。<br>
            <br>
            地方を出て都会に出た方の人生を彩った<br>
            メニュー、旅行で訪れた方の想い出を飾った<br>
            メニュー、どんな街にも名物メニューが<br>
            あり、多くが街の誇りとなっています。<br>
            歴史のあしあとや、文化のにおい、そして<br>
            隠せぬ生活感。その街その店ならではの、<br>
            魅力を感じるきっかけになるはずです。<br>
            <br>
            いつか、この街に足を運んで欲しいから。<br>
            あなたの「衝撃一品」がみつかりますように。
          </p>
        </li>
        <li id="mov_box">
          <div id="mov">
            <div id="yt_player"></div>
            <div id="yt_overlay"></div>
          </div>
          <script>
            var tag = document.createElement('script');
               tag.src = "https://www.youtube.com/iframe_api";
               var firstScriptTag = document.getElementsByTagName('script')[0];
               firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
               let ytPlayer;
               function onYouTubeIframeAPIReady() {
                   ytPlayer = new YT.Player('yt_player', {
                       videoId: 'W6oq2DGlwXk',
                       playerVars: {
                           autoplay: 1,
                           playsinline: 1,
                           loop: 1,
                           playlist: 'W6oq2DGlwXk' // 再生する動画のリスト
                       },
                       events: {
                           'onReady': onPlayerReady
                       }
                   });
               }
               // YouTubeの準備完了後、ミュートにして再生開始
               function onPlayerReady(e) {
                   ytPlayer.mute();
                   ytPlayer.playVideo();
               }
          </script>
        </li>

        <li class="concept_h foJ_Bld">
          <h1>
            いつか、この街に&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
            &nbsp;&nbsp;&nbsp;足を運んで欲しいから
          </h1>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- //content -->

{% schema %}
{
  "name": "トップ コンテンツ部分",
  "settings": [] ,
  "presets": [
    {
      "name": "トップ コンテンツ部分"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
