<div class="content">
  <div id="concept">
    <div id="concept_box">
      <div class="concept_wrap">
        <div class="concept_t">
          <p class="foJ_Thin">
            <span class="concept_h foJ_Bld">
              いつか、この街に<span class="d">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
              &nbsp;&nbsp;&nbsp;</span>足を運んで欲しいから
            </span>
            <br>
            大分県佐伯市は九州の最東端にあります。<br>
            古く「豊後国風土記」では「海部郡」と呼ばれ、<br>
            「佐伯の殿様、浦で持つ」という言葉がある程<br>
            海の幸が豊富。近年の市町村合併を経て山間の<br>
            地域もひとつになり、今では山海の多様な幸に<br>
            恵まれています。<br>
            <br>
            そんな自然の恵みが育んだ佐伯の食文化は、<br>
            歴史や風土を語る上でも、欠かせないもの。<br>
            都会に出た方が、故郷に思いを馳せる一品。<br>
            旅行で訪れた方が、想い出を語る一品。<br>
            どんなお店にも名物の一品があって、<br>
            その多くがまちの誇りとなっています。<br>
            歴史のあしあとや、文化のにおい、そして<br>
            隠せぬ生活感。佐伯市ならではの魅力を<br>
            感じるきっかけになるはずです。<br>
            <br>
            お魚やお肉、野菜等の素材のみならず、<br>
            居酒屋や食堂の「名物の一品」を、町おこしに<br>
            つなげたい。「衝撃一品」は、佐伯で人気の<br>
            名物メニューを製品化して販売し、新たな<br>
            街の魅力を発信することで、その持続可能性を<br>
            探る、期間限定の試みです。<br>
            <br>
            いつか、この街に足を運んで欲しいから。<br>
            あなたの「衝撃一品」がみつかりますように。
            <span class="l_concept">
              <a href="/pages/concept">
                <span class="icon"><span></span></span>衝撃一品とは？
              </a>
            </span>
          </p>
          <div class="l_concept_t_m">
            <a href="/pages/concept" class="btn">
              <span class="info foJ_Mid">衝撃一品とは？</span>
              <div class="icon arrow"></div>
            </a>
          </div>
        </div>
        <!--div class="concept_h foJ_Bld">
          
        </div-->
        <!--div id="mov_box">
          <div id="mov">
            <div id="yt_player"></div>
            <div id="yt_overlay"></div>
          </div>
          <script>
            var tag = document.createElement('script');
               tag.src = "https://www.youtube.com/iframe_api";
               var firstScriptTag = document.getElementsByTagName('script')[0];
               firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
               let ytPlayer;
               function onYouTubeIframeAPIReady() {
                   ytPlayer = new YT.Player('yt_player', {
                       videoId: 'W6oq2DGlwXk',
                       playerVars: {
                           autoplay: 1,
                           playsinline: 1,
                           loop: 1,
                           playlist: 'W6oq2DGlwXk' // 再生する動画のリスト
                       },
                       events: {
                           'onReady': onPlayerReady
                       }
                   });
               }
               // YouTubeの準備完了後、ミュートにして再生開始
               function onPlayerReady(e) {
                   ytPlayer.mute();
                   ytPlayer.playVideo();
               }
          </script>
        </div-->

        
      </div>
    </div>
  </div>
</div>
<!-- //content -->
{% schema %}
{
  "name": "トップ ムービー＆コンセプト部分",
  "settings": [] ,
  "presets": [
    {
      "name": "トップ ムービー＆コンセプト部分"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
