<div id="main_visual" class="content">
    <!--メインビジュアル部分-->
    <div id="mv">	
        <img src="{{ '_img_mv.jpg' | asset_url }}" alt="" style="width:100%">
        <div id="mv_town"></div>
    </div>
    <!--//メインビジュアル部分-->
</div>

{% schema %}
  {
    "name": "トップヘッダー画像",
    "settings": [] ,
    "presets": [
      {
        "name": "トップヘッダー画像"
      }
    ]
  }
{% endschema %}