<div class="content">
  <div id="notfound">
    <p></p>
    <div id="episode">
      <h3 id="ep_title"></h3>
      <p id="ep_inner"></p>
      {%- assign min = 0 -%}
{%- assign max = 9 -%}
{%- assign diff = max | minus: min -%}
{%- assign random_number = "now" | date: "%N" | modulo: diff | plus: min -%}

{{ random_number }}
    </div>
    <a href="{{ routes.all_products_collection_url }}" class="t_link">
        <div class="icon back"><div></div></div>
        {{ 'general.continue_shopping' | t }}
      </a>
  </div>
</div>

<script>
console.log("test");
</script>