<div class="content">
  <div id="notfound">
    <p>ページは見つかりませんでしたが、何かを見つけて頂きたいので、<br>
    佐伯市の豆知識をご用意しました。</p>
    <div id="episode">
      <h3 id="ep_title">佐伯市ちょっと豆知識</h3>
      <p id="ep_inner"></p>
      
    </div>
    <a href="{{ routes.all_products_collection_url }}" class="t_link">
        <div class="icon back"><div></div></div>
        {{ 'general.continue_shopping' | t }}
      </a>
  </div>
</div>