<div class="content">
  <div id="notfound" class="clearfix">
    <p></p>
    <div id="episode">
      <h3 id="ep_title" class="foJ_Mid"></h3>
      <div id="ep_photo"></div>
      <p id="ep_inner" class="foJ_Thin"></p>
    </div>
    <a href="{{ routes.all_products_collection_url }}" class="t_link">
        <div class="icon back"><div></div></div>
        {{ 'general.continue_shopping' | t }}
      </a>
  </div>
</div>