<div class="content">
   <ul id="product" class="clearfix">
      <li id="product_introduce">
          <div id="infomation">
              <div class="item_name">
                  <h1 class="foJ_Bld">とらふぐラーメンと<br>
                      とらふぐ餃子
                      <span>豊後水道ふぐ 柳井</span>
                  </h1>
              </div>
              <div class="quantity">
                  <span class="quantity foJ_Mid">3食入り</span>
                  <span class="price foE">1,500</span>
                  <span class="tax foJ_Mid">(税別)</span>
              </div>
              <div class="count foJ_Bld">
                  数量
                  <button class="minus">－</button><input type="text" name="input03" value="0" readonly class="number"><button class="plus">＋</button>
              </div>
              <a href="" class="btn">
                  <span class="info foJ_Mid">
                      カートに入れる
                  </span>
                  <div class="icon cart"></div>
              </a>
          </div>
      </li>
      <li id="product_photo" style="background-image: url('img/store_main/001/sm001.jpg');">
          <div class="ribbon_box">
              <ul class="ribbon foJ_Bld">
                  <li>他とは一線を画す、上品な味わい</li>
              </ul>
          </div>
      </li>
   </ul>
</div>
<!--//content-->
{% schema %}
  {
    "name": "商品ヘッダー",
    "settings": [] ,
    "presets": [
      {
        "name": "商品ヘッダー"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}