{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
<div class="content innerpage_content">
  <div class="{{ section.settings.width }}">
    <h1 class="page_title_head foJ_Bld">
      {% if section.settings.pageTitle != blank %}
        {{ section.settings.pageTitle }}
      {% else %}}
        {{ page.title | escape }}
      {% endif %}
    </h1>
  </div>
</div>
{% schema %}
{
  "name": "ページタイトル部分",
  "settings": [
		{
			"type": "text",
			"id": "text_content",
			"label": "テキスト入力です（カスタマイズ画面上表示されるもの）"
		},{
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },{
      "type": "text",
      "id": "pageTitle",
      "label": "ページタイトル",
      "default": "title",
      "info": "ページの名前を入れてください"
    },
    {
      "type": "select",
      "id": "width",
      "options": [
        {
          "value": "innerpage_wrapper",
          "label": "通常"
        },
        {
          "value": "innerpage_wrapper_wide",
          "label": "広め"
        }
      ],
      "default": "innerpage_wrapper",
      "label": "通常"
    }] ,
    "presets": [
      {
        "name": "ページタイトル部分"
      }
    ]
}
{% endschema %}
