{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
<div class="content innerpage_content">
  <div class="innerpage_wrapper">
    <h1 class="page_title_head foJ_Bld">
      {{ page.title | escape }}
      {{ settings.pageTitle }}
    </h1>
  </div>
</div>
{% schema %}
{
  "name": "ページタイトル部分",
  "settings": [
		{
			"type": "text",
			"id": "text_content",
			"label": "テキスト入力です（カスタマイズ画面上表示されるもの）"
		},{
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },{
      "type": "text",
      "id": "pageTitle",
      "label": "ページタイトル",
      "default": "{{ page.title | escape }}",
      "info": "ページの名前を入れてください"
    }] ,
    "presets": [
      {
        "name": "ページタイトル部分"
      }
    ]
}
{% endschema %}
