.cart-notification-wrapper {
  position: relative;
  z-index: 1150;
}

.cart-notification-wrapper .cart-notification {
  display: block;
}

.cart-notification {
  padding-bottom: 2.5vw;
    position: fixed;
    left: 50%;
    top: 50%;
    border: 5px solid #FC0;
    border-radius: 1vw;
    background: #f4f4f4;
    width: 70%;
    min-height: 30%;
    box-shadow: 0 0 10px 3px #0003;
    transform: translate(-50%,-50%);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

@media screen and (min-width: 1024px){/*pc*/
  .cart-notification {
    padding-bottom:2.5vw;
    position:fixed;
    left: 50%;
    top: 50%;
    border:5px solid #FC0;
    border-radius: 1vw;
    background: #f4f4f4;
    width:40%;
    min-height:50%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2);
    /*position: absolute;*/
    /*right: 4rem;*/
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;

    /*transform: translateY(-100%);*/
    visibility: hidden;
    z-index: 100;
  }
}

.cart-notification.active {
  opacity: 1;
  visibility: visible;
}

.cart-notification__header {
  width:100%;
  text-align: center;
  /*align-items: flex-start;
  display: flex;*/
}

.cart-notification__heading {
  /*align-items: center;
  display: flex;
  flex-grow: 1;*/
  font-size:1.3vw;
  margin-bottom: 0;
  margin-top: 0;
  padding:0.5vw 0 1vw;
  background: #FC0;
}

.cart-notification__heading .icon-checkmark {
  /*color: rgb(var(--color-foreground));*/
  color:#F60;
  margin-right: 0.2vw;
  width: 2vw;
}

.cart-notification__close {
  margin-top: -2rem;
  margin-right: -3rem;
}

.cart-notification__links {
  text-align: center;
}

.cart-notification__links > * {
  margin-top: 1rem;
}

.cart-notification-product {
  /*align-items: flex-start;
  display: flex;*/
  display:table;
  width:100%;
  padding: 2vw;
  margin:auto;
}

.cart-notification-product dl {
  margin-bottom: 0;
  margin-top: 0;
}

.cart-notification-product__image {
  /*display: inline-flex;
  margin-right: 1.5rem;
  margin-top: 0.5rem;*/
  display:table-cell;
  vertical-align: top;
  width:12vw;
  padding:1vw;
  background: #FFF;
}

.cart-notification-product__image:after {
  content: none;
}
.cart-notification-product__image img{
  width:12vw;
  height:auto;
  border:2px salid #FC0;
  border-radius: 1vw;
}
.cart-notification-product__text{
  padding:1vw 2vw 1vw 0;
  background: #FFF;
  display:table-cell;
  vertical-align: middle;
}
.cart-notification-product__name {
  font-size:1.5rem;
  margin-top: 0;
}
.cart-notification-product .product-option dd {
}