.discounts {
  font-size: 1.7rem;
  padding: 1rem;
  margin: 0 0;
    background: #EDEDED;
    margin: 0 0;
    border-radius: 0 0 1rem 1rem;
}
@media screen and (min-width: 640px) {
  .discounts {
    font-size: 1.4rem;
    padding: 1rem;
    background: #EDEDED;
    margin: 0 0;
    border-radius: 0 0 1rem 1rem;
  }
}
.discounts__discount {
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}

.discounts__discount svg {
  color: #000;
}

.discounts__discount--position {
  justify-content: flex-end;
}

@media screen and (min-width: 640px) {
  .discounts__discount--position {
    justify-content: flex-end;
  }
}

.discounts__discount > .icon {
  color: #000;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.7rem;
}
@media screen and (min-width: 640px) {
  .discounts__discount > .icon {
    color: #000;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.7rem;
  }
}